{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Activity</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Day</th>
                <td>{{ entity.day }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Feasibility</th>
                <td>{{ entity.feasibility }}</td>
            </tr>
            {% if entity.actions %}
                <tr>
                    <th>Actions</th>
                    <table style="text-align: left; padding-left: 50px;">
                        {% for action in entity.actions %}
                            <tr>
                                {% if entity.scenario.open %}
                                    <td>
                                        <form action="{{ path('action_existing_remove', { 'id': entity.id }) }}" method="post">
                                            <input type="hidden" name="actionRemove" value="{{ action.id }}" />
                                            <input type="submit" value="Remove action">
                                        </form>
                                    </td>
                                    <td><a href="{{ path('action_show', { 'id': action.id }) }}">{{ action.numero}}</a></td>
                                {% else %}
                                    <td>{{ action.name }}</td>
                                {% endif %}
                                <td>{{ action.name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </tr>
            {% endif %}
            {% if entity.constraints %}
                <tr>
                    <b><th>Constraints</th></b>
                    <table style="text-align: left; padding-left: 50px;">
                        {% for constraint in entity.constraints %}
                            <tr>
                                {% if entity.scenario.open %}
                                    <td>
                                        <form action="{{ path('constraint_existing_remove', { 'id': entity.id }) }}" method="post">
                                            <input type="hidden" name="constraintRemove" value="{{ constraint.id }}" />
                                            <input type="submit" value="Remove constraint">
                                        </form>
                                    </td>
                                    <td><a href="{{ path('constraint_show', { 'id': constraint.id }) }}">{{ constraint.numero}}</a></td>
                                {% else %}
                                    <td>{{ constraint.numero }}</td>
                                {% endif %}
                                <td>{{ constraint.name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </tr>
            {% endif %}
            {% if entity.mobilities %}
                <tr>
                    <b><th>Mobilities</th></b>
                    <table style="text-align: left; padding-left: 50px;">
                        {% for mobility in entity.mobilities %}
                            <tr>
                                {% if entity.scenario.open %}
                                    <td>
                                        <form action="{{ path('mobility_existing_remove', { 'id': entity.id }) }}" method="post">
                                            <input type="hidden" name="mobilityRemove" value="{{ mobility.id }}" />
                                            <input type="submit" value="Remove mobility">
                                        </form>
                                    </td>
                                {% endif %}
                                <td>{{ mobility.name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </tr>
            {% endif %}
            {% if entity.equipments %}
                <tr>
                    <b><th>Equipments</th></b>
                    <table style="text-align: left; padding-left: 50px;">
                        {% for equipment in entity.equipments %}
                            <tr>
                                {% if entity.scenario.open %}
                                    <td>
                                        <form action="{{ path('equipment_existing_remove', { 'id': entity.id }) }}" method="post">
                                            <input type="hidden" name="equipmentRemove" value="{{ equipment.id }}" />
                                            <input type="submit" value="Remove equipment">
                                        </form>
                                    </td>
                                {% endif %}
                                <td>{{ equipment.name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <ul class="record_actions">
        {% if entity.scenario.open %}
            <li>
                <a href="{{ path('action_new', { 'id': entity.id }) }}">
                    Add action
                </a>
            </li>
            {% if actions %}
                <li>
                    <form action="{{ path('action_existing_new', { 'id': entity.id }) }}" method="post">
                        <input type="hidden" name="action" />

                        <select name="ACTIONS" id="ACTIONS">
                            {% for action in actions %}
                                <option value="{{ action.id }}">{{ action.numero }}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" value="Add existing action" onclick="changeAction()">
                    </form>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('constraint_new', { 'id': entity.id }) }}">
                    Add constraint
                </a>
            </li>
            {% if constraints %}
                <li>
                    <form action="{{ path('constraint_existing_new', { 'id': entity.id }) }}" method="post">
                        <input type="hidden" name="constraint" />

                        <select name="CONSTRAINTS" id="CONSTRAINTS">
                            {% for constraint in constraints %}
                                <option value="{{ constraint.id }}">{{ constraint.numero }}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" value="Add existing constraint" onclick="changeConstraint()">
                    </form>
                </li>
            {% endif %}
            {% if mobilities %}
                <li>
                    <form action="{{ path('mobility_existing_new', { 'id': entity.id }) }}" method="post">
                        <input type="hidden" name="mobility" />

                        <select name="MOBILITIES" id="MOBILITIES">
                            {% for mobility in mobilities %}
                                <option value="{{ mobility.id }}">{{ mobility.name }}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" value="Add existing mobility" onclick="changeMobility()">
                    </form>
                </li>
            {% endif %}
            {% if equipments %}
                <li>
                    <form action="{{ path('equipment_existing_new', { 'id': entity.id }) }}" method="post">
                        <input type="hidden" name="equipment" />

                        <select name="EQUIPMENTS" id="EQUIPMENTS">
                            {% for equipment in equipments %}
                                <option value="{{ equipment.id }}">{{ equipment.name }}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" value="Add existing equipment" onclick="changeEquipment()">
                    </form>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('activity_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('scenario_show', { id : entity.scenario.id }) }}">
                Back to the scenario
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}

{% block javascripts %}
    <script>
        function changeAction(mySelect)
        {
            var action = document.getElementById('ACTIONS').value;
            document.querySelector('[name=action]').value = action;
        }

        function changeConstraint()
        {
            var constraint = document.getElementById('CONSTRAINTS').value;
            document.querySelector('[name=constraint]').value = constraint;
        }

        function changeMobility()
        {
            var mobility = document.getElementById('MOBILITIES').value;
            document.querySelector('[name=mobility]').value = mobility;
        }

        function changeEquipment(mySelect)
        {
            var equipment = document.getElementById('EQUIPMENTS').value;
            document.querySelector('[name=equipment]').value = equipment;
        }
    </script>
{% endblock %}
