{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Activité</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th width="15%">Jour de l'étape</th>
                <td>{{ entity.day }}</td>
            </tr>
            <tr>
                <th width="15%">Nom de l'étape</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th width="15%">Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th width="15%">Faisabilité</th>
                {% if entity.feasibility == 0 %}
                    <td>Forte</td>
                {% elseif entity.feasibility == 1 %}
                    <td>Moyenne</td>
                {% elseif entity.feasibility == 2 %}
                    <td>Faible</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    {% if entity.actions %}
        <tr>
            <b><th>Actions</th></b>
            <table class="record_properties table" style="text-align: left; padding-left: 50px;">
                {% for action in entity.actions %}
                    <tr>
                        {% if entity.scenario.open %}
                            {% if is_granted("ROLE_SCENARIO_EDIT") %}
                                <td width="15.5%">
                                    <form action="{{ path('action_existing_remove', { 'id': entity.id }) }}" method="post">
                                        <input type="hidden" name="actionRemove" value="{{ action.id }}" />
                                        <input type="submit" value="Supprimer l'action">
                                    </form>
                                </td>
                            {% endif %}
                            <td width="15%"><a href="{{ path('action_show', { 'id': action.id }) }}">{{ action.numero}}</a></td>
                        {% else %}
                            <td width="15%">{{ action.numero }}</td>
                        {% endif %}
                        <td width="50%">{{ action.name }}</td>
                        {% if entity.scenario.open == 0 %}
                            <td>
                                <a href="{{ path('action_download', { 'id': action.id }) }}">
                                    Download
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </tr>
    {% endif %}
    {% if entity.constraints %}
        <tr>
            <b><th>Contraintes</th></b>
            <table class="record_properties table" style="text-align: left; padding-left: 50px;">
                {% for constraint in entity.constraints %}
                    <tr>
                        {% if entity.scenario.open %}
                            {% if is_granted("ROLE_SCENARIO_EDIT") %}
                                <td width="15%">
                                    <form action="{{ path('constraint_existing_remove', { 'id': entity.id }) }}" method="post">
                                        <input type="hidden" name="constraintRemove" value="{{ constraint.id }}" />
                                        <input type="submit" value="Supprimer la contrainte">
                                    </form>
                                </td>
                            {% endif %}
                            <td width="15%"><a href="{{ path('constraint_show', { 'id': constraint.id }) }}">{{ constraint.numero}}</a></td>
                        {% else %}
                            <td width="15%">{{ constraint.numero }}</td>
                        {% endif %}
                        <td width="50%">{{ constraint.name }}</td>
                        {% if entity.scenario.open == 0 %}
                            <td>
                                <a href="{{ path('constraint_download', { 'id': constraint.id }) }}">
                                    Download
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </tr>
    {% endif %}
    {% if entity.mobilities %}
        <tr>
            <b><th>Mobilités</th></b>
            <table class="record_properties table" style="text-align: left; padding-left: 50px;">
                {% for mobility in entity.mobilities %}
                    <tr>
                        {% if entity.scenario.open %}
                            {% if is_granted("ROLE_SCENARIO_EDIT") %}
                                <td width="16%">
                                    <form action="{{ path('mobility_existing_remove', { 'id': entity.id }) }}" method="post">
                                        <input type="hidden" name="mobilityRemove" value="{{ mobility.id }}" />
                                        <input type="submit" value="Supprimer la mobilité">
                                    </form>
                                </td>
                            {% endif %}
                        {% endif %}
                        <td>{{ mobility.name }}</td>
                    </tr>
                {% endfor %}
            </table>
        </tr>
    {% endif %}
    {% if entity.equipments %}
        <tr>
            <b><th>Equipements</th></b>
            <table class="record_properties table" style="text-align: left; padding-left: 50px;">
                {% for equipment in entity.equipments %}
                    <tr>
                        {% if entity.scenario.open %}
                            {% if is_granted("ROLE_SCENARIO_EDIT") %}
                                <td width="15%">
                                    <form action="{{ path('equipment_existing_remove', { 'id': entity.id }) }}" method="post">
                                        <input type="hidden" name="equipmentRemove" value="{{ equipment.id }}" />
                                        <input type="submit" value="Supprimer l'équipement">
                                    </form>
                                </td>
                            {% endif %}
                        {% endif %}
                        <td>{{ equipment.name }}</td>
                    </tr>
                {% endfor %}
            </table>
        </tr>
    {% endif %}

    <ul class="record_actions">
        {% if is_granted("ROLE_SCENARIO_EDIT") %}
            {% if entity.scenario.open %}
                <li>
                    <a href="{{ path('action_new', { 'id': entity.id }) }}">
                        Ajouter un action
                    </a>
                </li>
                {% if actions %}
                    <li>
                        <form action="{{ path('action_existing_new', { 'id': entity.id }) }}" method="post">
                            <input type="hidden" name="action" />

                            <select name="ACTIONS" id="ACTIONS">
                                {% for action in actions %}
                                    <option value="{{ action.id }}">{{ action.numero }}</option>
                                {% endfor %}
                            </select>

                            <input type="submit" value="Ajouter une action existante" onclick="changeAction()">
                        </form>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('constraint_new', { 'id': entity.id }) }}">
                        Ajouter une contrainte
                    </a>
                </li>
                {% if constraints %}
                    <li>
                        <form action="{{ path('constraint_existing_new', { 'id': entity.id }) }}" method="post">
                            <input type="hidden" name="constraint" />

                            <select name="CONSTRAINTS" id="CONSTRAINTS">
                                {% for constraint in constraints %}
                                    <option value="{{ constraint.id }}">{{ constraint.numero }}</option>
                                {% endfor %}
                            </select>

                            <input type="submit" value="Ajouter une contrainte existante" onclick="changeConstraint()">
                        </form>
                    </li>
                {% endif %}
                {% if mobilities %}
                    <li>
                        <form action="{{ path('mobility_existing_new', { 'id': entity.id }) }}" method="post">
                            <input type="hidden" name="mobility" />

                            <select name="MOBILITIES" id="MOBILITIES">
                                {% for mobility in mobilities %}
                                    <option value="{{ mobility.id }}">{{ mobility.name }}</option>
                                {% endfor %}
                            </select>

                            <input type="submit" value="Ajouter un moyen de mobilité" onclick="changeMobility()">
                        </form>
                    </li>
                {% endif %}
                {% if equipments %}
                    <li>
                        <form action="{{ path('equipment_existing_new', { 'id': entity.id }) }}" method="post">
                            <input type="hidden" name="equipment" />

                            <select name="EQUIPMENTS" id="EQUIPMENTS">
                                {% for equipment in equipments %}
                                    <option value="{{ equipment.id }}">{{ equipment.name }}</option>
                                {% endfor %}
                            </select>

                            <input type="submit" value="Ajouter un équipement" onclick="changeEquipment()">
                        </form>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('activity_edit', { 'id': entity.id }) }}">
                        Modifier
                    </a>
                </li>
            {% endif %}
        {% endif %}
        <li>
            <a href="{{ path('scenario_show', { id : entity.scenario.id }) }}">
                Retour au scenario
            </a>
        </li>
        {% if is_granted("ROLE_SCENARIO_DELETE") %}
            <li>{{ form(delete_form) }}</li>
        {% endif %}
    </ul>
{% endblock %}

{% block javascripts %}
    <script>
        function changeAction(mySelect)
        {
            var action = document.getElementById('ACTIONS').value;
            document.querySelector('[name=action]').value = action;
        }

        function changeConstraint()
        {
            var constraint = document.getElementById('CONSTRAINTS').value;
            document.querySelector('[name=constraint]').value = constraint;
        }

        function changeMobility()
        {
            var mobility = document.getElementById('MOBILITIES').value;
            document.querySelector('[name=mobility]').value = mobility;
        }

        function changeEquipment(mySelect)
        {
            var equipment = document.getElementById('EQUIPMENTS').value;
            document.querySelector('[name=equipment]').value = equipment;
        }
    </script>
{% endblock %}
