{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Activity</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Day</th>
                <td>{{ entity.day }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Feasibility</th>
                <td>{{ entity.feasibility }}</td>
            </tr>
            {% if entity.actions %}
                <tr>
                    <th>Actions</th>
                    <table style="text-align: left; padding-left: 50px;">
                        {% for action in entity.actions%}
                            <tr>
                                <th>Name</th>
                            </tr>
                            <tr>
                                {% if entity.scenario.open %}
                                    <td><a href="{{ path('action_show', { 'id': action.id }) }}">{{ action.name}}</a></td>
                                {% else %}
                                    <td>{{ action.name }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </tr>
            {% endif %}
            {% if entity.constraints %}
                <tr>
                    <b><th>Constraints</th></b>
                    <table style="text-align: left; padding-left: 50px;">
                        {% for constraint in entity.constraints%}
                            <tr>
                                <th>Name</th>
                            </tr>
                            <tr>
                                {% if entity.scenario.open %}
                                    <td><a href="{{ path('constraint_show', { 'id': constraint.id }) }}">{{ constraint.name}}</a></td>
                                {% else %}
                                    <td>{{ constraint.name }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <ul class="record_actions">
        {% if entity.scenario.open %}
            <li>
                <a href="{{ path('action_new', { 'id': entity.id }) }}">
                    Add action
                </a>
            </li>
            <li>
                <a href="{{ path('constraint_new', { 'id': entity.id }) }}">
                    Add constraint
                </a>
            </li>
            <li>
                <a href="{{ path('activity_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('scenario_show', { id : entity.scenario.id }) }}">
                Back to the scenario
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
