{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Constraint list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Updatedate</th>
                <th>Difflevel</th>
                <th>Context</th>
                <th>Description</th>
                <th>Diagaction</th>
                <th>Viabilityimpact</th>
                <th>Tourismimpact</th>
                <th>Image</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ens_constraint_show', { 'id': entity.id }) }}">{{ entity.updateDate }}</a></td>
                <td>{{ entity.diffLevel }}</td>
                <td>{{ entity.context }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.diagAction }}</td>
                <td>{{ entity.viabilityImpact }}</td>
                <td>{{ entity.tourismImpact }}</td>
                <td>{{ entity.image.id }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('ens_constraint_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('ens_constraint_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('ens_constraint_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
