{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Contrainte</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>N° Contrainte</th>
                <td>{{ entity.numero }}</td>
            </tr>
            <tr>
                <th>Etape du séjour</th>
                <td>{{ entity.step }}</td>
            </tr>
            <tr>
                <th>Date de MAJ de la fiche</th>
                <td>{{ entity.updateDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Niveau de Difficulté</th>
                {% if entity.diffLevel == 0 %}
                    <td>Forte</td>
                {% elseif entity.diffLevel == 1 %}
                    <td>Moyenne</td>
                {% elseif entity.diffLevel == 2 %}
                    <td>Faible</td>
                {% endif %}
            </tr>
            <tr>
                <th>Titre de la contrainte</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>N° des actions associées</th>
                <td>{{ entity.associateAction }}</td>
            </tr>
            <tr>
                <th>Contexte : (actions avant / après)</th>
                <td>{{ entity.context }}</td>
            </tr>
            <tr>
                <th>Descriptif et état actuel de la réflexion</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Moyens de mobilité et/ou équipement concernés</th>
                <td>{{ entity.mobilityEquipment }}</td>
            </tr>
            <tr>
                <th>Acteurs impliqués</th>
                <td>{{ entity.personInCharge }}</td>
            </tr>
            <tr>
                <th>Actions de diagnostic à conduire</th>
                <td>{{ entity.diagAction }}</td>
            </tr>
            <tr>
                <th>Degré d’impact sur la viabilité du séjour</th>
                <td>{{ entity.viabilityImpact }}</td>
            </tr>
            <tr>
                <th>Degré d’impact sur « l’expérience tourisme » des clients</th>
                <td>{{ entity.tourismImpact }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        {% if is_granted("ROLE_SCENARIO_EDIT") %}
            <li>
                <a href="{{ path('constraint_edit', { 'id': entity.id , 'idActivity': idActivity }) }}">
                    Modifier
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('activity_show', { 'id': idActivity }) }}">
                Retour à l'activité
            </a>
        </li>
        {% if is_granted("ROLE_SCENARIO_DELETE") %}
            <li>{{ form(delete_form) }}</li>
        {% endif %}
    </ul>
{% endblock %}
