{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Constraint</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Updatedate</th>
                <td>{{ entity.updateDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Difflevel</th>
                <td>{{ entity.diffLevel }}</td>
            </tr>
            <tr>
                <th>Context</th>
                <td>{{ entity.context }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Diagaction</th>
                <td>{{ entity.diagAction }}</td>
            </tr>
            <tr>
                <th>Viabilityimpact</th>
                <td>{{ entity.viabilityImpact }}</td>
            </tr>
            <tr>
                <th>Tourismimpact</th>
                <td>{{ entity.tourismImpact }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('constraint_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <a href="{{ path('activity_show', { 'id': entity.activity.id }) }}">
                Back to the activity
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
