<div>
    <div align="center">
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody>
            <tr>
                <td width="100%" valign="top">
                    <p align="center">
                        TERRITOIRE : {{ entity.zone }}
                    </p>
                </td>
            </tr>
            <tr>
                <td width="100%" valign="top">
                    <p>
                        <img width="322" height="114" src="file:///C:/Users/Mirouf/AppData/Local/Temp/msohtmlclip1/01/clip_image004.jpg" alt="LOGO_Breizh-Trotter-Game.jpg"/>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="100%">
                    <p align="center">
                        {{ entity.name }}
                    </p>
                </td>
            </tr>
            <tr>
                <td width="100%">
                    <p align="center">
                        {{ entity.content }}
                    </p>
                </td>
            </tr>
            <tr>
                <td width="100%">
                </td>
            </tr>
            <tr>
                <td width="100%">
                    <p align="center">
                        <strong>{{ entity.author }}</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="100%">
                    <p align="center">
                        <strong>{{ entity.date|date('d/m/Y') }}</strong>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p>
        <img width="383" height="96" src="file:///C:/Users/Mirouf/AppData/Local/Temp/msohtmlclip1/01/clip_image002.jpg" alt="PARTENAIRES.jpg"/>
    </p>
    <table border="0" cellspacing="0" cellpadding="0" align="left" width="100%">
        <tbody>
        <tr>
            <td width="100%" valign="top">
                <p>
                    {{ entity.description }}
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <br clear="all"/>
    <p>
        <img width="891" height="616" src="{{ entity.image.path }}"/>
    </p>
</div>
<br clear="all"/>
<table border="1" cellspacing="0" cellpadding="0" width="1299">
    <thead>
    <tr>
        <td width="189" colspan="2">
            <p>
                <strong>ETAPES</strong>
            </p>
        </td>
        <td width="106">
            <p>
                <strong>MOYEN DE MOBILITE</strong>
            </p>
        </td>
        <td width="118">
            <p>
                <strong>EQUIPEMENT</strong>
            </p>
        </td>
        <td width="224">
            <p>
                <strong>PHOTO</strong>
            </p>
        </td>
        <td width="378">
            <p>
                <strong>DESCRIPTIF EXPERIENCE</strong>
            </p>
        </td>
        <td width="118">
            <p>
                <strong>FAISABILITE de lՎtape</strong>
            </p>
        </td>
        <td width="83">
            <p>
                <strong>Contraintes</strong>
            </p>
        </td>
        <td width="83">
            <p>
                <strong>Actions</strong>
            </p>
        </td>
    </tr>
    </thead>
    <tbody>
        {% for activity in entity.activities %}
            <tr>
                <td width="59">
                    <p>
                        <strong><em>{{ activity.day }}</em></strong>
                    </p>
                </td>
                <td width="130">
                    <p>
                        {{ activity.name }}
                    </p>
                </td>
                <td width="106">
                    <p>
                        <em>
                            {% for mobility in activity.mobilities %}
                                <img width="36" height="36" src="{{ mobility.image.path }}"/>
                            {% endfor %}
                        </em>
                    </p>
                </td>
                <td width="118">
                    <p>
                        {% for equipment in activity.equipments %}
                            <img width="32" height="32" src="{{ equipment.image.path }}"/>
                        {% endfor %}
                    </p>
                </td>
                <td width="224">
                    <p>
                        <img width="164" height="107" src="{{ activity.image.path }}">
                    </p>
                </td>
                <td width="378">
                    <p>
                        {{ activity.description }}
                    </p>
                </td>
                <td width="118">
                    <p>
                        <strong>
                            <img width="36" height="36" src="file:///C:/Users/Mirouf/AppData/Local/Temp/msohtmlclip1/01/clip_image016.gif"/>
                        </strong>
                    </p>
                </td>
                <td width="83">
                    {% for constraint in activity.constraints %}
                        <p>
                            {{ constraint.numero }}
                        </p>
                    {% endfor %}
                </td>
                <td width="83">
                    {% for action in activity.actions %}
                        <p>
                            {{ action.numero }}
                        </p>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>