{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Scenario</h1>
    <div class="table-responsive">
        <table class="record_properties table">
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>Zone</th>
                    <td>{{ entity.zone }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Auteur</th>
                    <td>{{ entity.author }}</td>
                </tr>
                <tr>
                    <th>Contenu</th>
                    <td>{{ entity.content }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ entity.description }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    {% if entity.open  %}
                        <td>Ouvert</td>
                    {% else %}
                        <td>Fermé</td>
                    {% endif %}
                </tr>
                {% if entity.open == 0 %}
                    <td>
                        <a href="{{ path('scenario_download', { 'id': entity.id }) }}">
                            Download
                        </a>
                    </td>
                {% endif %}
            </tbody>
        </table>
        {% if entity.activities %}
            <tr>
                <b><th>Activities</th></b>
                <table class="record_properties table" style="text-align: left; padding-left: 20px;">
                    {% for activity in entity.activities %}
                        <tr>
                            <th>Nom</th>
                            <th>Jour</th>
                            <th>Description</th>
                            <th>Faisabilité</th>
                        </tr>
                        <tr>
                            <td><a href="{{ path('activity_show', { 'id': activity.id }) }}">{{ activity }}</a></td>
                            <td>{{ activity.day}}</td>
                            <td>{{ activity.description}}</td>
                            <td>{{ activity.feasibility}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </tr>
        {% endif %}
            </tbody>
        </table>
    </div>
    <ul class="record_actions">
        {% if entity.open %}
            {% if is_granted("ROLE_SCENARIO_VALIDATION") %}
                <li>
                    <a href="{{ path('scenario_close', { 'id': entity.id })  }}">Fermer le scenario</a>
                </li>
            {% endif %}
            {% if is_granted("ROLE_SCENARIO_EDIT") %}
                <li>
                    <a href="{{ path('activity_new', { 'id': entity.id })  }}">Ajouter une activité</a>
                </li>
                <li>
                    <a href="{{ path('scenario_edit', { 'id': entity.id }) }}">
                        Modifier
                    </a>
                </li>
            {% endif %}
        {% else %}
            {% if is_granted("ROLE_SCENARIO_VALIDATION") %}
                <li>
                    <a href="{{ path('scenario_open', { 'id': entity.id }) }}">Ouvrir le scenario</a>
                </li>
            {% endif %}
        {% endif %}
        <li>
            <a href="{{ path('scenario') }}">
                Retour à la liste
            </a>
        </li>
        {% if is_granted("ROLE_SCENARIO_DELETE") %}
            <li>{{ form(delete_form) }}</li>
        {% endif %}
    </ul>
{% endblock %}
